# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore local development settings
settings/
# Ignore database files

# Ignore media and static files (if you use collectstatic)



# Ignore virtual environment files
venv/

# ignore settings
settings/
