{% extends 'homeapp/base.html' %}

{% block title %}North Edge Fabricators - About {% endblock %}
{% block theme %}theme1{% endblock %}

{% block content %}

{% load static %}

<section class=" responsive-section">
      <div class="container">
            <div class="aboutdiv bg-dark ">
            <h1>About Us</h1>
                  <p>Welcome to North Edge Fabricators, where innovation and quality craftsmanship converge to create exceptional solutions. With a rich history of serving diverse industries, we have established ourselves as leaders in the field.</p>
                  <p>Our dedicated team of experts brings a wealth of experience to every project. From precision metalwork to cutting-edge technology, we consistently deliver results that exceed expectations.</p>
            </div>
            <div class="aboutdiv ">  
                  <h2>Our Mission</h2>
                  <p>At North Edge Fabricators, our mission is to provide top-tier fabrication solutions that empower our clients' success. We pride ourselves on our commitment to quality, sustainability, and customer satisfaction.</p>
            </div> 
      </div>  
</section>


<section class="responsive-section2 container aboutdiv ">
      <h2>Our Team</h2>

      <p>Meet the faces behind North Edge Fabricators:</p>
            <div class="team-section bg-dark">
                  {% for worker in workers %}
                  <div class="team-section">

                        <div class="team-member">
                        <img class="team-image" src="{{worker.worker_image.url}}" alt="Team Member 1">
                        <div class="team-caption">{{ worker.name}}<br>{{worker.position}}</div>
                        </div>           
                  {% endfor %}
            </div>

      <p>Our team of dedicated professionals is driven by a passion for excellence and a commitment to our clients' needs.</p>

</section>



<section class="responsive-section">
          <div class="row container">
          <div class="col-md-12 bg-dark">
            <h6  class="boldh1"><b>Contact us now</b></h6>
              
  
                  <p>     <img src="{% static 'images/location.png' %}" alt="location Image">
                      Nairobi-Kariobangi light industries.</p><br/>
  
                  <p>     <img src="{% static 'images/pobox.png' %}" alt="location Image">
                      P.O.Box 60870-00100, Nairobi</p><br/>
  
                  <p>    <img src="{% static 'images/email.png' %}" alt="location Image">
                      northedgefabricators@gmail.com</p><br/>
  
                  <p>    <img src="{% static 'images/call.png' %}" alt="location Image">
                      +254 721 394 475 / +254 723 853 275 <br/>
                  </p>
              
  
          </div>
      </div>
        
</section>
{% endblock %}
