{% extends 'homeapp/base.html' %}

{% block title %}North Edge Fabricators - About {% endblock %}

{% block theme %}theme1{% endblock %}


{% block content %}

    {% load static%}

  
    <div id="verticalDiv" style="border: solid; border-width: 1px; border-color: white; border-radius: 5px; margin: 50px; padding: 20px; background-color: rgba(255, 255, 255, 0);">
      <card>
      <h5 style="text-align: center; color: white; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif;" >Background</h5>  

        <p style="color: white;">In 2020, in Nairobi, Kenya, a group of skilled individuals founded "North Edge Fabricators Ltd."
          With a passion for metalwork and a commitment to quality and innovation, they crafted iconic structures and artwork. 
          Beyond their workshop, they uplifted the community by hiring and training from disadvantaged backgrounds. 
          Their impact and artistry soon gained recognition, making North Edge a beacon of inspiration in the industry.
        </p>
      </card>
    </div>
    
  <section style="margin: 10px; padding: 20px; border-radius: 5px; ">

      <h2 id="horizontalDiv" class="pb-2 border-bottom" style="color: white; text-align: center;">OUR SERVICES</h2>

  <div class="container px-4 py-5" id="featured-3" >
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" >
      {% for service in services %}
      <div class="feature col">
        <div class="feature-icon ">
            <img src="{{service.service_image.url}}" alt="service images" style=" padding: 0px; align-content: center; border: solid; 
            border-left: 0px ; border-top: 0px; border-bottom: 0px; border-radius: 5px; border-width: 1px; width: 300px; height:300px ;
            border-color: rgb(255, 255, 255);">
        </div>
        <h2 style="color: gold;">{{ service.name }}</h2>
        <!--<p style="color: white;" >{{ service.description }}</p> -->

      </div>
      {% endfor %}
    </div>

  </div>

  </section>

  <section style="margin: 10px; padding: 20px; border-radius: 5px; ">

  <h2 class="pb-2 border-bottom" style="color: white; text-align: center;"> PRODUCTS </h2>

<div class="container px-4 py-5" id="featured-3" >
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" >
    {% for product in products %}
    <div class="feature col">
      <div class="feature-icon ">
          <img src="{{product.product_image.url}}" alt="service images" style=" padding: 0px; align-content: center; border: solid; 
          border-left: 0px ; border-top: 0px; border-bottom: 0px; border-radius: 5px; border-width: 1px; width: 300px; height:300px ;
          border-color: rgb(255, 255, 255);">
      </div>
      <h2 style="color: white;">{{ product.name }}</h2>
      <!--<p style="color: white;" >{{ service.description }}</p> -->

    </div>
    {% endfor %}
  </div>

</div>

</section>



<hr/>

<div style="padding: 30px;">
  <h4 class="pb-2 border-bottom" style="color: white; text-align: center;">OUR TEAM</h4>

  <div class="container px-2 py-5" id="custom-cards">

    <div class="row row-cols-2 row-cols-lg-3 align-items-stretch g-4 py-5" >
      
      {% for worker in workers %}

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('{{worker.worker_image.url}}'); 
        border-image-repeat: none; background-size: cover; background-repeat: no-repeat;">
          
          <div class="d-flex flex-column h-10 p-5 pb-1 text-white text-shadow-1" >
            <h3 class="pt-1 mt-5 mb-4 display-10 lh-1 fw-bold" style="background-color: rgba(0, 0, 0, 0.363); border-radius: 5px; text-align: center;">{{ worker.name }}</h3>
            
            <ul class="d-flex list-unstyled mt-auto">
              
              <li class="d-flex align-items-center me-3">
                <h6 style="background-color: black; color: gold; padding: 2px; border-radius: 0px; padding: 3px; text-align: center;">{{ worker.position }}</h6>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small style="background-color: rgba(255, 68, 0, 0.582);"> {{ worker.description }} </small>
              </li>
            </ul>
          </div>

        </div>
      </div>

      {% endfor %}


      

    </div>
  </div>
  
</div>


{% endblock %}
