{% extends 'homeapp/base.html' %}

{% block title %}North Edge Fabricators - contucts {% endblock %}

{% block theme %}theme1{% endblock %}


{% block content %}

    {% load static%}

  
      <card class="card" style="color: white; padding: 50px; text-align: center; background-color: rgba(0, 0, 255, 0.356);">
        <h2 style="font-weight: bolder;" id="horizontalDiv">Contact Us</h2>

        <P style="color: gold; font-size: larger; font-weight: bold;">North edge Fabricator</P>
        <P style="color: gold; font-size: larger;">Email- northedgefabricators@gmail.com</P>
        <P style="color: gold; font-size: larger;">Mobile Number- +254 721-394-475</P>
  
      </card>
      
      <card class="card" style="color: white; padding: 50px; text-align: center; background-color: rgba(0, 0, 255, 0.356);">
        <h2>Where we are</h2>
        <img src="{% static 'homeapp/images/map.jpg' %}" style="border: 2px; border-color:white; padding: 2px; border-radius:
         5px; width: 800px; height: 500px; margin-left: 100px;" alt="My Image" >
  
        <P style="color: rgb(255, 255, 255); font-size: larger;" >we are located around Kariobangi South Behind Co-Operative Bank Kariobangi Along outer-ring outering-road</P>
      </card>

{% endblock %}
