{% extends 'homeapp/base.html' %}

{% block title %}North Edge Fabricators - Home{% endblock %}

{% block theme %}theme1{% endblock %}


{% block content %}
{% load static %}



<div class="image-container jumbotron">
    <img src="{% static 'images/bgn.jpg' %}"  style="width: 100%;" alt="Image Description">
    <div class="text-overlay">
        <h1>North Edge Fabricators ltd</h1>
        <p>Building Visionary Solutions</p>
    </div>
    
</div>
<div class="container aboutdiv">

      <h2>Experience Professionalism</h2>
        <p>
            "We Are Pro Fabricators".<br/>
            Welcome to North Edge Fabricators Ltd,
            your premier destination for all your welding needs.
            We are an established all-welding company dedicated to delivering top-quality fabrication services since 2020.
            As a limited company, we have built a strong reputation for excellence in the welding industry. 
            With years of experience and a team of highly skilled welders, we specialize in providing superior metal fabrication solutions for various industries. 
            From custom welding projects to structural steel fabrication, we take pride in our craftsmanship, attention to detail, and commitment to delivering exceptional results.
        </p>

        <div>
           <a  class="nav-link" href="{% url 'about' %}"> <button class="linkButton">Learn More →</button> </a>
        </div>
    
</div>

<section class="responsive-section">
    <div class="container">

        <div class="row">
            <div class="col-md-3 ">
                <div>
                   <h1 class="boldh1"> PROUDLY MADE FOR OUR YOU </h1> 
                </div>
            </div>
            <div class="col-md-9 ">
                
                <div class="pdiv">
                    <h4>Products</h4>
                    
                        {% for product in products %}
                        <p class="listP">{{product.name}}</p>
                       
                        {% endfor %}
                    
                </div>
            </div> 
            

        </div>
        <section class="responsive-section2">

            <div class="image-section ">
                {% for product in products %}
                <img src="{{product.product_image.url}}" alt="product image">
                {% endfor %}
                
            </div>
            <a> <button class="linkButton">See More →</button> </a>

        </section>
    </div>
</section>

<section class="responsive-section container">
    <div class="row">
        <div class="col-md-4">
            <h3>Our Services</h3>

            <div class="slideshow-container">
                        
                {% for service in services %}
                <div class="slide">
                    <img src="{{service.service_image.url}}" alt="Image 1">
                    <div class="caption">
                        <h4>{{service.name}}</h4>
                        <p>{{service.description}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
        <div class="col-md-8 bg-dark container">
            {% for service in services %}
            <p class="listP2">{{service.name}}</p>
            {% endfor %}
            <div>
                <a> <button class="linkButton">Learn More →</button> </a>
            </div>
        </div>

    </div>
</section>

<section class="responsive-section2">
    <div class="container">

        <div class="row">
            <div class="col-md-7 aboutdiv">
                <h1>How its all done</h1>
                <P>
                    At North Edge Fabricators Ltd,
                     the management of fabrication projects involves a systematic approach 
                     to delivering high-quality products and structures. 
                     Beginning with project initiation, the company collaborates with clients 
                     to define project goals, scope, and specifications. Comprehensive research 
                     and planning ensure efficient material sourcing, allocation of resources, 
                     and adherence to safety regulations. During the design phase, engineers and 
                     designers create detailed plans, blueprints, and 3D models to guide the 
                     fabrication process. Skilled technicians then execute the fabrication using 
                     cutting-edge machinery and techniques, closely adhering to established industry 
                     standards. Rigorous quality control checks are conducted at each stage to ensure 
                     precision, durability, and compliance with specifications. Upon completion, the 
                     fabricated product undergoes thorough inspections before being delivered and 
                     installed on-site. Effective communication channels are maintained throughout 
                     the project lifecycle to address any changes or concerns promptly. 
                     By prioritizing client collaboration, meticulous craftsmanship, 
                     and a commitment to excellence, North Edge Fabricators Ltd consistently 
                     delivers successful fabrication projects tailored to the unique needs of each client.
                </P>
                
            </div>  

            <div class="col-md-5 ">
                <h3>Recent Projects</h3>
                <div class="slideshow-container2">
                    {% for project in projects %}

                    <div class="slide2">
                        <img src="{{project.project_image.url}}" alt="Image 1">
                        <div class="slide-title">{{project.name}}</div>
                    </div>
                    

                    {% endfor %}

                    <div class="scroll-buttons2">
                        <button class="prev-button" onclick="prevSlide()">&#10094;</button>
                        <button class="next-button" onclick="nextSlide()">&#10095;</button>
                    </div>


                </div>
                <a> <button class="linkButton">Explore Projects →</button> </a>
            </div>
        </div>
          
    </div>
</section>

<section class="responsive-section">
    <div class="container">

        <div class="row">
            <div class="col-md-12 bg-dark">
                <h3  class="boldh1"><i>Contact us now</i></h3>
                
    
                    <p>     <img src="{% static 'images/location.png' %}" alt="location Image">
                        Nairobi-Kariobangi light industries.</p><br/>
    
                    <p>     <img src="{% static 'images/pobox.png' %}" alt="location Image">
                        P.O.Box 60870-00100, Nairobi</p><br/>
    
                    <p>    <img src="{% static 'images/email.png' %}" alt="location Image">
                        northedgefabricators@gmail.com</p><br/>
    
                    <p>    <img src="{% static 'images/call.png' %}" alt="location Image">
                        +254 721 394 475 / +254 723 853 275 <br/>
                    </p>
                
    
            </div>


        </div>
          
    </div>
</section>


{% endblock %}
