{% extends 'homeapp/base.html' %}

{% block title %}North Edge Fabricators - Home{% endblock %}

{% block theme %}theme1{% endblock %}


{% block content %}

{% load static %}

<section class="gradient-section"  style=" height: 600px; width: auto;">
  <div id="horizontalDiv" style="text-align: center; flex: justify; word-wrap: break-word; background-color: rgba(0, 0, 0, 0.507);">
      <h1 style="font-weight: bolder; font-family: 'Times New Roman', Times, serif; color: orangered ; border: 1; text-shadow: 
      -1px -1px 0 white,  /* Top-left border */
      1px -1px 0 white,   /* Top-right border */
      -1px 1px 0 white,   /* Bottom-left border */
      1px 1px 0 white;    /* Bottom-right border */ font-size: 72px; word-wrap: break-word;">NORTH EDGE FABRICATORS LTD</h1>
    <p id="verticalDiv" style="font-weight: bold;color: white; font-size: 22px; margin: 50px; font-family: Segoe Print; background-color: rgba(0, 0, 0, 0.507); border-radius: 5px;">
      Building Visionary Solutions
    </p>
  </div>

</section>


  <section id="bgimg" >
      
      <div style="border-radius: 5px; margin: 100px; padding: 20px; background-color:  rgba(0, 0, 255, 0.527);">
        <h2 style="color:white; font-weight: bold; font-family: Verdana;
            text-align:center ;margin-right: 5px; margin-bottom: 10px;">We Are Professional Fabricators
        </h2>
          <p style="color: white; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
            Welcome to North Edge Fabricators Ltd,
            your premier destination for all your welding needs. 
            We are an established all-welding company dedicated to delivering top-quality fabrication services since 2020.
            As a limited company, we have built a strong reputation for excellence in the welding industry.
            With years of experience and a team of highly skilled welders,
            we specialize in providing superior metal fabrication solutions for various industries.
            From custom welding projects to structural steel fabrication, 
            we take pride in our craftsmanship, attention to detail, and commitment to delivering exceptional results.
          </p>

          <div>
            <a href="{% url 'about' %}">
              <button class="hover-button">
                <img src="{% static 'homeapp/images/logo.png' %}" style="border: solid; border-color:
                      white; border-width: 2px; padding: 5px; border-radius: 30px; width: 60px; height:60px ;"alt="My Image" >
                    More About Us >
              </button>
            </a>
        </div>
      </div>
  </section>

  <section id="services">
    <div >
      <h3 style="text-align: centre; font-weight: bold ; color: white; background-color: rgba(0, 0, 0, 0.473);">Products & Services</h3>

      
        <div class="row"  style="border: solid; border-width: 1px; border-radius: 5px; border-color: rgba(255, 255, 255, 0); background-color: rgba(30, 30, 109, 0); padding: 15px;">

          <div class="column-1" style="background-color: rgba(0, 0, 255, 0.507); border-radius: 5px; text-align: left; padding: 20px;">
              <!-- Content for the first column goes here -->
              <h5 style="text-align: center; color: white; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif;">Services</h5>
              
              1. Custom Metal Fabrication <br/>
              2. Sheet Metal Fabrication <br/>
              3. Welding and Assembly <br/>
              4. Powder Coating and Finishing <br/>
              5. Prototyping <br/>
              6. Installation and On-Site Services <br/>
                          
          </div>
          <div class="column-2" style="background-color: rgba(0, 0, 255, 0.507);  border-radius: 5px; text-align: left; padding: 20px;">
              <!-- Content for the second column goes here -->
              <h5 style="text-align: center; color: white; font-weight: bold;">Products</h5>

              1. Metal Structures and Frameworks <br/>
              2. Custom Metal Parts and Components <br/>
              3. Sheet Metal Enclosures and Cabinets <br/>
              4. Architectural Metalwork <br/>
              5. Custom Signage and Displays <br/>
              6. Equipment and Machinery <br/>
              7. Structural Steel Fabrication <br/>
              8. Metal Furniture and Fixtures <br/>
              9. Industrial Pipework and Ductwork <br/>

          </div>

          <div class="column-4" style="background-color: rgba(0, 0, 255, 0.507);  border-radius: 5px; text-align: left; padding: 20px;">
              <a href="{% url 'projects' %}">
                <button  class="hover-button">
            
                <img src="{% static 'homeapp/images/project_icon.jpg' %}" style="border: solid; border-color:white;
                padding: 5px; border-radius: 30px; width: 60px; height:60px ; border-width: 2px;"alt="My Image" >
                Our Projects >
                </button>
              </a>
          </div>
        </div> 
    </div>
  </section>

<section class="gradient-section" id="contact" style="padding: 20px; text-align: center;">
    <div  style="color: white; margin: 0px; min-height: 500px;
    padding: 50px; align-items: center; border-radius: 5px;">
    <h3 style="text-align: centre; font-weight: bold; color: orangered;">Contact Us</h3>

      <h4>North edge Fabricator LTD</h4>
      <h5>Email- northedgefabricatorsltd@gmail.com</h5>
      <h3>+254 721-394-475</h3>
    </div>
    
</section>

{% endblock %}
