{% extends 'homeapp/base.html' %}

{% block title %}North Edge Fabricators - Home{% endblock %}

{% block theme %}theme1{% endblock %}


{% block content %}
{% load static %}



<div class="image-container jumbotron " >
    <img src="{% static 'images/bgn.jpg' %}"  style="width: 100%;" alt="Image Description">
    <div class="text-overlay">
        <h1>Build       it <br/>Live it!</h1>
        <p>A visionary solutions</p>
    </div>
    
</div>

<div class="row">
    <div class="col-md-4 mx-0 px-0">
        <img src="{% static 'images/installationbg.jpg' %}" class="displayproudimage" style="width: 100%;" alt="Image Description">
    </div>

    <div class="col-md-4 mx-0 aboutdiv">

      <h1 class="boldh1"><b>Experience Professionalism in Fabrication</b></h1>
        <p><small>
            "We Are Pro Fabricators".<br/>
            Welcome to North Edge Fabricators Ltd,
            your premier destination for all your welding needs.
            We are an established all-welding company dedicated to delivering top-quality fabrication services since 2020.
            As a limited company, we have built a strong reputation for excellence in the welding industry. 
            With years of experience and a team of highly skilled welders, we specialize in providing superior metal fabrication solutions for various industries. 
            From custom welding projects to structural steel fabrication, we take pride in our craftsmanship, attention to detail, and commitment to delivering exceptional results.
        </small>
        </p>

        <div>
           <a  class="nav-link" href="{% url 'about' %}"> <button class="linkButton">Learn More →</button> </a>
        </div>
    </div>
    <div class="col-md-4 mx-0 px-0">
        <img src="{% static 'images/installationbg1.jpeg' %}" class="displayproudimage" style="width: 100%;" alt="Image Description">
    </div>
    
</div>

<section class="responsive-section ">
    <div>

        <div class="row">
            <div class="col-md-2 ">
                <div>
                   <h1 class="boldh1"> Built For You</h1> 
                </div>
            </div>
            <div class="col-md-10 ">
                
                <div class="pdiv">
                    <h4>Products</h4>
                    <div class="image-section ">
                        {% for product in products %}
                        <div>
                            <img src="{{product.product_image.url}}" alt="product image">
                            <p class="listP">{{product.name}}</p>
                        </div>

                        {% endfor %}
                        
                    </div>                    
                </div>
            </div> 
            

        </div>
        <section class="responsive-section2">
            <a  href="{% url 'products' %}"> <button class="linkButton">Check Out →</button> </a>

        </section>
    </div>
</section>

<section class="responsive-section">
    <div class="row">
        <div class="col-md-4">
            <h3 class="boldh1">Our Services</h3>

            <div class="slideshow-container">
                        
                {% for service in services %}
                <div class="slide">
                    <img src="{{service.service_image.url}}" alt="Image 1">
                    <div class="caption">
                        <h4>{{service.name}}</h4>
                        <p>{{service.description}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
        <div class="col-md-8 container">
            {% for service in services %}
            <p class="listP2">{{service.name}}</p>
            {% endfor %}
            <div>
                <a  href="{% url 'services' %}"> <button class="linkButton">Learn More →</button> </a>
            </div>
        </div>

    </div>
</section>

<section class="responsive-section2">
    <div class="container">

        <div class="row">
            <div class="col-md-7 aboutdiv">
                <h1>How We Do The Magic</h1>
                <P><small>
                     At North Edge Fabricators Ltd,
                     the management of fabrication projects involves a systematic approach 
                     to delivering high-quality products and structures. 
                     Beginning with project initiation, the company collaborates with clients 
                     to define project goals, scope, and specifications. Comprehensive research 
                     and planning ensure efficient material sourcing, allocation of resources, 
                     and adherence to safety regulations. During the design phase, engineers and 
                     designers create detailed plans, blueprints, and 3D models to guide the 
                     fabrication process. Skilled technicians then execute the fabrication using 
                     cutting-edge machinery and techniques, closely adhering to established industry 
                     standards. Rigorous quality control checks are conducted at each stage to ensure 
                     precision, durability, and compliance with specifications. Upon completion, the 
                     fabricated product undergoes thorough inspections before being delivered and 
                     installed on-site. Effective communication channels are maintained throughout 
                     the project lifecycle to address any changes or concerns promptly. 
                     By prioritizing client collaboration, meticulous craftsmanship, 
                     and a commitment to excellence, North Edge Fabricators Ltd consistently 
                     delivers successful fabrication projects tailored to the unique needs of each client.</small>
                </P>
                
            </div>  

            <div class="col-md-5 ">
                <h3 class="boldh1">Recent Projects</h3>
                <div class="slideshow-container2">
                    {% for project in projects %}

                    <div class="slide2">
                        <img src="{{project.project_image.url}}" alt="Image 1">
                        <div class="slide-title">{{project.name}}</div>
                    </div>
                    

                    {% endfor %}

                    <div class="scroll-buttons2">
                        <button class="prev-button" onclick="prevSlide()">&#10094;</button>
                        <button class="next-button" onclick="nextSlide()">&#10095;</button>
                    </div>


                </div>
                <a  href="{% url 'projects' %}"> <button class="linkButton">Explore Projects →</button> </a>
            </div>
        </div>
          
    </div>
</section>

<section class="responsive-section">
    <div class="container">

        <div class="row">
            <div class="col-md-12 bg-dark">
                <h6  class="boldh1"><b>Contact us now</b></h6>
                
    
                    <p>     <img src="{% static 'images/location.png' %}" class="contact-icos" alt="location Image">
                        Nairobi-Kariobangi light industries.</p><br/>
    
                    <p>     <img src="{% static 'images/pobox.png' %}" class="contact-icos" alt="location Image">
                        P.O.Box 60870-00100, Nairobi</p><br/>
    
                    <p>    <img src="{% static 'images/email.png' %}" class="contact-icos" alt="location Image">
                        northedgefabricators@gmail.com</p><br/>

                    <p>    <img src="{% static 'images/call.png' %}" class="contact-icos" alt="location Image">
                        +254 721 394 475 / +254 723 853 275 <br/>
                    </p>
                
    
            </div>


        </div>
          
    </div>
</section><div class="contact-form container">
    <h1>Write to Us</h1>
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required>

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="6" required></textarea>

        <button type="submit">Submit</button>
    </form>
</div>


{% endblock %}
