{% extends 'homeapp/base.html' %}

{% block title %}North Edge Fabricators - About {% endblock %}

{% block theme %}theme1{% endblock %}


{% block content %}

    {% load static%}

  
    <div  style="border: solid; border-width: 1px; border-color: white; border-radius: 5px; margin: 50px; padding: 20px; background-color: rgba(255, 255, 255, 0);">
      <h2 id="horizontalDiv" class="pb-2 border-bottom" style="color: white; text-align: center;"> PRODUCTS </h2>
      
        <div  class="container px-4 py-5" id="hanging-icons">
          <div class="row g-4 py-5 row-cols-1 row-cols-lg-1" >
            {% for product in products %}
            <div class="col d-flex align-items-start" >
              <div class="icon-square bg-light text-dark flex-shrink-0 me-3" style="border-radius: 0pc;">
                  <img src="{{product.product_image.url}}" alt="product images" style=" padding: 0px; align-content: center; border: solid; 
                 border-radius: 0pc; border-width: 1px; width: 600px; height: 600px ;
                border-color: gold;">
              </div>
              <div>
                <h2 style="color: gold;">{{ product.name }}</h2>
                <p style="color: white;">{{ product.description }}</p>
              </div>
            </div>
            <hr/>
            {% endfor %}
          </div>
        </div>
    </div>
{% endblock %}