{% extends 'homeapp/base.html' %}

{% block title %}North Edge Fabricators - Products {% endblock %}

{% block theme %}theme1{% endblock %}

{% load static %}

{% block content %}

    <header class="container">
        <h1>Products</h1>
    </header>
    
    <section class="products-container">

        {% for product in products %}

            <p class="listP"></p>
            <div class="product">
                <img src="{{product.product_image.url}}" alt="Product 1">
                <h2>{{product.name}}</h2>
                <p>{{product.description}}</p>
                <button>make inquiry</button>
            </div>
                       
        {% endfor %}
    </section>

{% endblock %}