{% extends 'homeapp/base.html' %}

{% block title %}North Edge Fabricators - projects {% endblock %}

{% block theme %}theme1{% endblock %}

{% load static %}

{% block content %}
<header>
      <h1><b>Projects</b></h1>
</header>
<section class="projects-container">
      {% for project in projects %}
            <div class="project">
            <img src="{{project.project_image.url}}" alt="Project 1" class="project-image">
            <h2 class="project-title">{{project.name}}</h2>
                  <div class="project-description-caller">tap here to view or hide description</div>
            
            <p class="project-description"> {{project.description}}</p>
            </div>
      {% endfor %}
      
      
  </section>

{% endblock %}
