{% extends 'homeapp/base.html' %}

{% block title %}North Edge Fabricators - Services {% endblock %}

{% block theme %}theme1{% endblock %}


{% block content %}

{% load static %}

<header class="container">
    <h1><b>Our Services</b></h1>
</header>
<section class="services-container">
    {% for service in services%}
    <div class="service">
        <img src="{{service.service_image.url}}" alt="Service 1">
        <h2>{{service.name}}</h2>
        <p>{{service.description}}</p>
    </div>
    {%endfor%}
    
</section>


{% endblock %}