.aboutsection{
    background-color: orangered;
}

  .team-section {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-member {
    width: 30%;
    margin: 1px;
    text-align: center;
    position: relative;
  }
  .team-image {
    max-width: 100%;
    height: auto;
    border-radius: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  .team-member:hover .team-image {
    transform: scale(1.05);
  }
  .team-caption {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 0;
    font-size: 14px;
  }

  /* Responsive adjustments for small screens */
  @media (max-width: 768px) {
    .team-member {
      width: calc(50% - 20px);
    }
  }

