/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-logo img {
    max-width: 200px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.footer-contact {
    flex-basis: 300px;
}

/* Footer bottom */
.footer-bottom {
    text-align: center;
    padding-top: 10px;
    background-color: #222;
}

.footer-bottom p {
    margin: 0;
    color: #ccc;
    font-size: 14px;
}
.footericon{
    text-align: left;
    color: white;
}

.footericon img {
    width: 30px;
    height: auto;
}

.list-container {
    display:flex;
    padding:10px;
    background-color: orangered;
    width: 100%;
}

.list-item {
    display: inline-block;
    margin-right: 10px;
    font-weight:100;
}
@media screen and (max-width: 600px) {
    .list-container {
        display:block;
        padding:5px;
        background-color: orangered;
        max-width: 100%;
        font-size: 16px;
    }
    .footericon img {
        width: 20px;
        height: auto;
    }
    .footer-bottom p {
        margin: 0;
        color: #ccc;
        font-size: 8px;
    }
    .footer-contact {
        flex-basis: 30px;
        font-size: 10px;

    }
}