/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-logo img {
    max-width: 200px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.footer-contact {
    flex-basis: 300px;
}

/* Footer bottom */
.footer-bottom {
    text-align: center;
    padding-top: 10px;
    background-color: #222;
}

.footer-bottom p {
    margin: 0;
    color: #ccc;
    font-size: 14px;
}
.footericon{
    text-align: left;
    color: white;
}

.footericon img {
    width: 30px;
    height: auto;
}
